
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/thumbnail-gallery.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary ovrly-btn">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Trumpet", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary ovrly-btn">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Trumpet", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/TrumpetSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Trombone", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Trombone", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/TromboneSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Tuba", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Tuba", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/TubaSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Flute", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Flute", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/FluteSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Clarinet", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Clarinet", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/ClarinetSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="caption">
                    <div class="caption-top">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("New", "InstrumentRental", "Home", new { instrument = "Saxophone", insCondition = "New" }, null)</button>
                        </div>
                    </div>
                    <div class="caption-bottom">
                        <div class="caption-content">
                            <button class="btn btn-primary">@Html.ActionLink("Old", "InstrumentRental", "Home", new { instrument = "Saxophone", insCondition = "Used" }, null)</button>
                        </div>
                    </div>
                </div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/SaxophoneSquare.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
